body,html {
    overflow-x: hidden;
    overflow-y: hidden;
}

#mainImg {
    max-width: 50% !important;
}

/* label focus color */
.input-field input:focus + label {
    color: #2196f3 !important;
}
/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #2196f3 !important;
    box-shadow: 0 1px 0 0 #2196f3 !important
}