
*.class
.DS_Store
Projeto-SD/files/index_2.txt
Projeto-SD/files/search_2.txt
Projeto-SD/files/urls_2.txt
Projeto-SD/files/users_2.txt
Projeto-SD/files/index_2.txt
Projeto-SD/files/search_2.txt
Projeto-SD/files/urls_2.txt
Projeto-SD/files/users_2.txt
Projeto-SD/src/RMIClient.java
Meta2/.idea/workspace.xml
Meta2/.idea/misc.xml
Meta2/.idea/artifacts/Meta2.xml
Meta2/.idea/workspace.xml
Meta2/Meta1/files/users_1.txt
Meta2/out/artifacts/Meta2/Meta2.war
Meta2/out/production/Meta2/META-INF/Meta2.kotlin_module
